<div class="h-screen flex items-center justify-center">
    <div class="flex flex-col items-center">
        <div class="flex flex-col items-center relative py-3 sm:max-w-xl sm:mx-auto">
            <div class="absolute inset-0 bg-gradient-to-r from-primary-400 to-primary-950 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
            </div>
            <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
                <div class="mb-3 mt-3">
                    <app-go-back-button></app-go-back-button>
                    <h1 class="text-2xl text-primary-950 ml-2">Register</h1>
            </div>
            <div>
                <div class="mb-2">
                    <app-input lable="Email" type='primary'></app-input>
                </div>
    
                <div class="mb-2">
                    <app-input lable="Password" type='primary'></app-input>
                </div>    
            </div>
            <div class="m-2 space-x-2">
                  <app-button lable="Register" size="sm" type='primary'></app-button>
                  <app-button  lable="G" size="sm" type='secondary'></app-button>
            </div>
          </div>
        </div>
    </div>
</div>