<div class="flex items-center justify-center m-5">
    <body class="flex justify-center items-center h-full">
        <div class="container flex justify-center items-center w-screen">
          <div class="box-out absolute top-[140px] z-[-99] w-[720px] flex justify-between items-center">
              <img class="book books-1" src="https://firebasestorage.googleapis.com/v0/b/readmynow-87dfb.appspot.com/o/Libros%2FEl%20morador%20de%20las%20tinieblas%2FMorador%20de%20las%20tinieblas%20t.png?alt=media&token=e087a8e5-73ff-4c0a-81e4-72355e540e3b">
          </div>
          <div class="box-inner absolute top-[350px] z-[99] w-[900px] flex items-center overflow-hidden bg-white">
            <!-- Contenido -->
          </div>
        </div>
    </body>
      
  </div>