<section class="w-full grid grid-cols-4 gap-2">
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>
    <app-book></app-book>


  </section>